* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: Inter;
}
.section-job {
    background-color:rgba(43, 74, 97, 0.87);
    background-image: url(img/header-bg.png);
    background-size: cover;
}

h1 {
    text-align: center;
    padding: 58px 0 45px;
    color: #141414;
    font-size: 32px;
    font-family: 'Hammersmith One', sans-serif;
}
.header-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 3px solid #FFF;
    padding: 39px 0;
    background: url('img/header-top.png');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}
header {
    background-image: url('img/Rectangle.png');
}
nav a {
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}
nav a:first-child {
    color: #94CFFF;
    font-weight: 600;
}
nav a:not(:first-child) {
    color: #FFF;
    font-weight: 300;
}
nav a:not(:last-child) {
    margin-right: 38px;
}
button {
    color: #26C6EA;
    text-align: justify;
    font-size: 20px;
    border-radius: 35px 0px;
    border: 2px solid #26C7EA;
    background: #0B0E66;
    width: 141px;
    height: 41.694px;
    text-align: center;
}
.button {
    border-radius: 45px 0px;
    border: 3px solid #26C7EA;
    width: 260px;
    height: 80px;
    margin-top: 42px;
    cursor: pointer;
}
.modal-join-clan {
    display: none;
    background-image: url(./img/modal-join-clan.png);
    width: 600px;
}
.modal-join-clan button {
    padding: 10px 48px;
}
.active {
    display: block;
    position: absolute;
    top: 328px;
}
.cross {
    cursor: pointer;
    content: "";
    position: relative;
    top: 0;
    width: 2px;
    height: 14px;
    background-color: black;
    transform: translate(577px, 13px) rotate(45deg);
}
.cross::after {
    content: "";
    position: absolute;
    top: 0;
    width: 2px;
    height: 14px;
    background-color: black;
    transform: translate(0px, 0px) rotate(88deg);
}
.modal-join-clan-form  {
    padding: 81px 80px 50px;
}

.modal-join-clan-form input {
    border: 3px solid #0B0E66;
    background: #F2EAEA;
    width: 440px;
    height: 40px;
    border-radius: 2px;
}
.modal-button {
    margin: 0 170px 23px;
}
/* switcher */
.switcher {
    padding-left: 49px;
    align-items: center;
    display: flex;
}
.switcher a {
    color: #FFF;
    font-family: 'Hammersmith One', sans-serif;
    text-decoration: none;
    font-size: 16px;
}
.switch {
    border-radius: 10px;
    border: 1px solid #FFF;
    width: 36px;
    height: 20px;
    margin: 0 10px;
    position: relative;
}

.slider::after {
    display: inline-block;
    content: "";
    position: absolute;
    width: 16px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    right: 3px;
    top: 1px;
}

  
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}
.section-job {
    display: flex;
    justify-content: space-around;
    align-items: end;
    padding: 180px 0;
}
.description {
    width: 376px;
}
.description p {
    color: #FFF;
    font-size: 20px;
}
.modal-join-clan-form > p,
.modal-join-clan-form  label {
    color: #0B0E66;
    text-align: justify;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
}
.modal-join-clan-form > p:nth-child(3),
.modal-join-clan-form label {
    margin-top: 12px;
}
.socials {
    display: flex;
    flex-direction: column;
}
.socials img:not(:last-child) {
    margin-bottom: 27px;
}
.quote {
    text-align: center;
    margin: 75px 0 10px;
}
h2 {
    color: #0A3853;
    font-size: 36px;
}
h3 {
    color: #000;
    font-size: 24px;
    margin: 16px 0 8px;
}

/* section 3 */
#watch-trailer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/section2.png);
    background-size: cover;
    height: 1000px;
}
video {
    display: none;
    width: 720px;
    height: 640px;
}
.menu-button {
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: none;
    border-radius: 45px 0px;
    border: 3px solid #26C7EA;
    color: #26C6EA;
    font-size: 20px;
    width: 260px;
    height: 80px;
    cursor: pointer;
    background: #0B0E66;
}
.video-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* section 4 */
.language-learn {
    background-image: url(img/section4.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.language-learn-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    display: grid;
    justify-items: center;
}
.card {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 320px;
    height: 240px;
    background: rgba(255, 255, 255, 0.70);
    margin-bottom: 24px;
    margin-right: 24px;
}
.card img {
    width: 152px;
    height: 40px;
}
.card p {
    font-size: 24px;
    line-height: 24px;
    color: #141414;
}

footer {
    background: rgba(43, 74, 97, 0.87);
}
.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.line {
    width: 2px;
    height: 153px;
    background-color: white;
    margin-top: 35px;
}
.email {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.email p {
    color: #FFF;
    text-align: justify;
    font-size: 20px;
    font-family: Inter;
}
.rights {
    margin-top: 37px;
    padding-bottom: 25px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
}